html {
  height: 100%;
}
body {
  background-color: #0E1014;
  position: relative;
}


@media (min-width: 1201px) and (max-width: 1360px) {

}
@media (min-width: 1025px) and (max-width: 1201px) {
}
@media (min-width: 769px) and (max-width: 1024px) {

}
@media (min-width: 320px) and (max-width: 480px) {

}
@media (min-width: 481px) and (max-width: 768px) {

}